/* Color To Use */
/* Greeen Color */
/* 769656 */
/* Cream Color */
/* EEEED2 */

.dad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.square {
    background-color: #EEEED2;
    width: 70px;
    height: 70px;
}


.main-container {
    display: flex;
    border-radius: 5px;
    grid-template-columns: repeat(8, 1fr);
    flex-direction: column;
    height: 560px;
    /* 70px * 8 = 560px */
    width: 560px;
    overflow: hidden;
}

img {
    width: 100%;
}

/* center childs */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-common {
    width: 70px;
    height: 70px;
}

.color-dark{
    background-color: #769656;
}

.color-light {
    background-color: #EEEED2;
}

.rank-style {
    width: 560px;
    height: 70px;
    display: flex;
}

.highLight {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}